
    <div class="row" ng-init="dataAdmin()">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>Detalles de usuario</strong>
                </div>
                <div class="panel-body">                    
                    <p><strong>Usuario:</strong> {{userName}}</p>
                    <p><strong>Token:</strong> {{token}}</p>
                    <p><strong>fecha de expiración:</strong> {{expires}}</p>                    
                </div>
            </div>
        </div>
    </div>